<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to 99 Cats, <%= @user.username %></h1>

    <p>
        You have successfully signed up at 99 Cats. <br>
        Your username is: <%= @user.username %>
    </p>

    <p>
        To login, click here: <%= @url %>
    </p>

    <p>
        We hope you enjoy your cat rental experience!
    </p>
</body>
</html>